doctype html
html(lang='zh-TW')
	head
		meta(charset='UTF-8')
		title igov 安心政府
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', type='text/css', href='css/reset.css')
		link(rel='stylesheet', type='text/css', href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(type='text/javascript', src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
		script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.js')
		script(type='text/javascript', src='js/service-data.js')
	body
	section#header
		.container
			.row
				div
					img.brand(src='image/igov-logo.svg')
			.row
				.form-control.search
					.form#form
						input.form-input.search-bar#search(type='text', placeholder='搜尋')
					a(target='_blank').button#searchButton 前往
	section#service
		.container
			.list
				//- .col-3
				//- 	.list-item.transport(data-list='')
				//- 		.list-icon
				//- 		span.label 交通資訊
	section#footer
		.container
			.col
				.col
					img.icon.igov(src='image/igov-logo-white.svg')
				.col.slogan
					span Suitable
					span Secure
					span Smart
			.col
				.col
					img.icon(src='image/fb-icon.png')
				.col
					a(href='https://www.facebook.com/iGov.service/', target='_blank') 安心政府i-Gov
	script#tmplItem(type="text/x-jquery-tmpl").
		<div class="col-3">
		<div class="list-item ${name}" data-list="${dataList}" name="${name}">
			<div class="list-icon"></div><span class="label">${label}</span>
		</div>
		</div>
	script#tmplFolder(type="text/x-jquery-tmpl").
		<div class="col-12">
		<div class="list-item ${name}">
		{{each links}}<span class="sub-item"><span class="icon"></span><a href="${$value.href}" target="_blank">${$value.title}</a></span>{{/each}}
		</div>
		</div>
	script(type='text/javascript').
		// for autocomplete
		var data = [];
		$.each($boxes, function(i, val){
			$name = $boxes[i].name;
			$.each($Links[$name].links, function(index, value){
				data.push({
					label: value.title,
					value: value.href,
					category: $boxes[i].label,
				});
			});
		});
		$('#search').autocomplete({
			minLength: 0,
			source: data,
			focus: function(event, ui) {
				//- console.log(ui.item.eng)
				$("#search").val( ui.item.label );
				$("#searchButton").attr('href', ui.item.value);
				return false;
			},
			select: function(event, ui) {
				//- console.log(ui.item);
				$("#search").val(ui.item.label);
				$("#searchButton").attr('href', ui.item.value);
				return false;
			}
		}).autocomplete( "instance" )._renderItem = function(ul, item) {
			$a = $("<a href='"+item.value+"' target='_blank'></a>")
				.append( "<span class='category'>" + item.category + "</span>")
				.append( "<span class='label'>" + item.label + "</span>" );
			return $("<li>").append($a).appendTo(ul);
		};
	script(type='text/javascript').
		// for sub-items
		$.each($boxes, function(i, value){
			$boxes[i].dataList = JSON.stringify($Links[$boxes[i].name]);
		});
		$('#tmplItem').tmpl($boxes).appendTo( $('#service .list') );
		$('#service .list-item').click(function(){
			$_this = $(this);
			$('.list .list-item').removeClass('active');
			$data = $_this.attr('data-list');
			$data = $.parseJSON($data);
			$data.name = $_this.attr('name');
			$n = $_this.parent('.col-3').prevAll('.col-3').length;
			$a = $n+1;
			//- console.log($n-$n%4+4);
			if($n == $('.list').attr('data-open')) {
				$('.list .col-12').slideUp(function(){$(this).remove()});
				$('.list').removeAttr('anchor').removeAttr('data-open');
				return;
			}
			
			$cols = $('.list .col-3');
			$_this.addClass('active');
			$_this.parent('.col-3').nextAll('.col-3').each(function(){
				//- console.log($($cols[$a-1]));
				if($(this).offset().left <= $($cols[$a-1]).offset().left ){
					return false;
				}
				$a++;
				//- }
			});
			//- console.log($a);
			$a--;
			console.log($data);
			if($a == $('.list').attr('anchor')) {
				$('.list .col-12').remove();
				$('#tmplFolder').tmpl($data).insertAfter( $($cols[$a]) );
			} else {
				$('.list .col-12').slideUp(function(){$(this).remove()});
				$('#tmplFolder').tmpl($data).insertAfter( $($cols[$a]) ).hide().slideDown();
			}
			$('.list').attr({'anchor': $a, 'data-open': $n});
			//- console.log(	$('.list').children(':eq('+$n+')') );
		});
		//- $('.payment').clone().appendTo('.list');