doctype html
html(lang='zh-TW')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='og:url', content='http://ukyouz.github.io/igov/')
		meta(name='og:image', content='http://ukyouz.github.io/igov/image/thumbnail.png')
		meta(name='og:description', content='安心政府 igov - 提供對的服務提供給對的人')
		title igov 安心政府
		link(rel='stylesheet', type='text/css', href='css/reset.css')
		link(rel='stylesheet', type='text/css', href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400')
	body
	section#header
		.container.landscape
			.row
				div
					img.brand(src='image/igov-logo.svg')
			.row
				.form-control.search
					.form#form
						input.form-input.search-bar#search(type='text', placeholder='搜尋')
					a(target='_blank').button#searchButton 前往
	section#service
		.container
			.list
				//- .col-3
				//- 	.list-item.transport(data-list='')
				//- 		.list-icon
				//- 		span.label 交通資訊
	section#intro
		.container
			.row.grid-2-col
				.col
					h2.title.igov 一、安心政府 igov 的緣起
					p.context 近來台灣的詐騙總金額早已超過 189.5 億之譜，且 DailyView 去年 8 月利用大數據在網路上進行分析，發現網路詐騙行為的最大宗就是散佈假連結（高達 44% 的比例）。而政府線上服務種類繁多，複雜的網站設計更會讓使用者去尋覓不可靠的外在網站，有更高機率接觸到惡意的病毒連結。
					p.context 因此「安心政府 igov 」的設計理念就是以簡潔的圖示串聯各政府部門的民生服務，讓民眾在單一頁面操作就能迅速找到需要的政府網站，貫徹「對的服務提供給對的人」。
				.col.card
					.graph.percent.grid-2-col#overview
						.set.col#allInOne
							svg.svg
							.number
								span.num 0
								span.percentage %
							.label 民眾希望有個整合的政府網站
						.set.col#fakeLink
							svg.svg
							.number
								span.num 0
								span.percentage %
							.label 網路詐騙行為利用假連結
			.row.grid-2-col
				.col
					h2.title.igov 二、使用對象研究
					p.context 「安心政府 igov」試圖打造適合各年齡層皆能使用自如的整合性網站，因此本團隊針對多位成年民眾進行使用者需求分析，採用線上調查法與簡短訪談，蒐集到有效樣本 34 個，受訪民眾平均年齡為 29.5 歲。
					p.context 資料經過系統性整理後得出以下結論：
					ol.context
						li 服務項目多而分散
						li 難以被發現且雜亂
						li 缺乏有效對接窗口
					p.context 本研究進一步去分析民眾平時使用政府網站的行為落點，發現民眾常到訪的 12 種網站類型，並發展成「安心政府 igov」的主要服務選項。
				.col.right.card
					.graph.barchart#survey
				.col
					h2.title.igov 三、設計思考
					p.context 我們開始思考一個讓使用者可以秒懂的政府網站特質是什麼，在經過一番討論下，找到「便利性」、「易用性」、「安全性」、「整合性」這四大特質，我們從研究調查裡面找到名眾所使用政府服務的使用需求排序，將需求中埋藏在網海中的連結找出，並且一一驗證網站連結整合進「I-gov安心政府網站」裡，轉譯目前政府現有複雜的網站藉由個直覺的UI介面設計的方式。
	section#heart
		.container.landscape
			.row
				div
					img.brand(src='image/heart.svg')
			.row
				h1.igov igov用心，讓民眾順心與安心
	section#footer
		.container
			.col
				.col
					img.icon.igov(src='image/igov-logo-white.svg')
				.col.slogan
					span Suitable
					span Secure
					span Smart
			.col.fb
				.col
					img.icon(src='image/fb-icon.png')
				.col
					a(href='https://www.facebook.com/iGov.service/', target='_blank') 安心政府i-Gov
	script#tmplItem(type="text/x-jquery-tmpl").
		<div class="col-3">
		<div class="list-item ${name}" data-list="${dataList}" name="${name}">
			<div class="list-icon"></div><span class="label">${label}</span>
		</div>
		</div>
	script#tmplFolder(type="text/x-jquery-tmpl").
		<div class="col-12">
		<div class="tip"></div>
		<div class="list-item ${name}">
		{{each links}}<span class="sub-item"><span class="icon"></span><a href="${$value.href}" target="_blank">${$value.title}</a></span>{{/each}}
		</div>
		</div>
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(type='text/javascript', src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
	script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.js')
	script(type='text/javascript', src='https://d3js.org/d3.v3.min.js')
	script(type='text/javascript', src='js/service-data.js')
	script(type='text/javascript').
		// for autocomplete
		var data = [];
		$.each($boxes, function(i, val){
			$name = $boxes[i].name;
			$.each($Links[$name].links, function(index, value){
				data.push({
					label: value.title,
					value: value.href,
					category: $boxes[i].label,
				});
			});
		});
		$('#search').autocomplete({
			minLength: 0,
			source: data,
			focus: function(event, ui) {
				//- console.log(ui.item.eng)
				$("#search").val( ui.item.label );
				$("#searchButton").attr('href', ui.item.value);
				return false;
			},
			select: function(event, ui) {
				//- console.log(ui.item);
				$("#search").val(ui.item.label);
				$("#searchButton").attr('href', ui.item.value);
				return false;
			}
		}).autocomplete( "instance" )._renderItem = function(ul, item) {
			$a = $("<a href='"+item.value+"' target='_blank'></a>")
				.append( "<span class='category'>" + item.category + "</span>")
				.append( "<span class='label'>" + item.label + "</span>" );
			return $("<li>").append($a).appendTo(ul);
		};
	script(type='text/javascript').
		// for sub-items
		$.each($boxes, function(i, value){
			$boxes[i].dataList = JSON.stringify($Links[$boxes[i].name]);
		});
		$('#tmplItem').tmpl($boxes).appendTo( $('#service .list') );
		$('#service .list-item').click(function(){
			$_this = $(this);
			$('.list .list-item').removeClass('active');
			$data = $_this.attr('data-list');
			$data = $.parseJSON($data);
			$data.name = $_this.attr('name');
			$n = $_this.parent('.col-3').prevAll('.col-3').length;
			$a = $n+1;
			//- console.log($n-$n%4+4);
			if($n == $('.list').attr('data-open')) {
				$('.list .col-12').slideUp(function(){$(this).remove()});
				$('.list').removeAttr('anchor').removeAttr('data-open');
				return;
			}
			
			$cols = $('.list .col-3');
			$_this.addClass('active');
			$_this.parent('.col-3').nextAll('.col-3').each(function(){
				//- console.log($($cols[$a-1]));
				if($(this).offset().left <= $($cols[$a-1]).offset().left ){
					return false;
				}
				$a++;
				//- }
			});
			//- console.log($a);
			$a--;
			//- console.log($_this.position());
			$tipLeft = $_this.position().left + $_this.parent().width()/2 - 12 + $(window).width()*0.05;
			if($a == $('.list').attr('anchor')) {
				$('.list .col-12').remove();
				$('#tmplFolder').tmpl($data).insertAfter( $($cols[$a]) ).find('.tip').css('left', $tipLeft+"px");
			} else {
				$('.list .col-12').slideUp(function(){$(this).remove()});
				$('#tmplFolder').tmpl($data).insertAfter( $($cols[$a]) ).hide().slideDown().find('.tip').css('left', $tipLeft+"px");;
			}
			$('.list').attr({'anchor': $a, 'data-open': $n});
			//- console.log(	$('.list').children(':eq('+$n+')') );
		});
		//- $('.payment').clone().appendTo('.list');
	script(type='text/javascript').
		var overview = {
			'allInOne': [
				{x:1, label: '整合政府網站希望', percent: 94, color: '#33CC99'},
				{x:2, label: '其他', percent: 6, color: '#eeeeee'},
			],
			'fakeLink': [
				{x:1, label: '假連結', percent: 44, color: '#C0504C'},
				{x:2, label: '其他', percent: 56, color: '#eeeeee'},
			],
		}
		var arcs = {
			chart: [
				drawArc({
					elem: '#allInOne',
					data: overview.allInOne,
				}),
				drawArc({
					elem: '#fakeLink',
					data: overview.fakeLink,
				}),
			],
			transition: [
				true,
				true
			],
		}
		
		var windowWidth = $(window).width();
		$(window).scroll(function(){
			$scrollTop = $(this).scrollTop();
			$.each(arcs.chart, function(i, v){
				console.log(v);
				if(arcs.transition[i] && $scrollTop>$(v.elem).offset().top - 150){
					arcs.transition[i] = false;
					v.animate();
				}
			});
		});
		$(window).resize(function(){
			if(windowWidth==$(window).width())
				return;
			windowWidth = $(window).width();
			arcs = {
				chart: [
					drawArc({
						elem: '#allInOne',
						data: overview.allInOne,
					}),
					drawArc({
						elem: '#fakeLink',
						data: overview.fakeLink,
					}),
				],
				transition: [
					true,
					true
				],
			}
		});

		function drawArc(opt){
			var pie = d3.layout.pie().value(function(d) {return d.percent;}).sort(null);
			var data = pie(opt.data), elem = opt.elem + ' svg';
			var side = ($(elem).width() > $(elem).height()) ? $(elem).height() : $(elem).width();
			var arc1 = d3.svg.arc().outerRadius(Math.floor(side/2)-10).innerRadius(Math.floor(side/2)-20).startAngle(0).endAngle(2*Math.PI);;
			var svg = d3.select(elem);
			//- console.log(arc);
			svg.selectAll('path').remove();
			svg.append('path').attr({
					'transform': 'translate('+ $(elem).width()/2 +','+$(elem).height()/2+')',
					'd': arc1,
					'fill': '#eaeaea',
				});
			svg.append('path').attr({
					'class': 'arc',
					'transform': 'translate('+ $(elem).width()/2 +','+$(elem).height()/2+')',
					'fill': data[0].data.color,
				});
			//- console.log(arc);
			var arc = d3.svg.arc().outerRadius(Math.floor(side/2)-10).innerRadius(Math.floor(side/2)-20);
			return {
				elem: elem,
				animate: function(){
					svg.selectAll('.arc').transition().duration(1500).attrTween('d', function(){
						var start = {startAngle: 0, endAngle: 0};
						var end = {startAngle: data[0].startAngle, endAngle: data[0].endAngle};
						var interpolate = d3.interpolate(start, end);
						return function (t) {
							//- console.log(end.startAngle/data[0].endAngle * 100);
							$(opt.elem + ' .number .num').html(Math.ceil(t*data[0].data.percent));
							return arc(interpolate(t));
						};
					});
				}
			};
		}

		var survey = [
			{x: 1, label: '交通資訊', counts: 25},
			{x: 2, label: '觀光旅遊', counts: 18},
			{x: 3, label: '郵政服務', counts: 17},
			{x: 4, label: '地方政府', counts: 15},
			{x: 5, label: '藝文活動', counts: 14},
			{x: 6, label: '就業輔導', counts: 13},
			{x: 7, label: '醫療衛生', counts: 10},
			{x: 8, label: '教育相關', counts: 10},
			{x: 9, label: '個人稅務', counts: 9},
			{x: 10, label: '繳費功能', counts: 8},
			{x: 11, label: '法條規範', counts: 8},
			{x: 12, label: '公民參與', counts: 8},
		];
		var bars = {
			transition: true,
			chart: drawBar(),
		}
		//- drawBar();	
		function drawBar(){
			var bar = {
				height: 20,
				tall: 34,
				scale: (window.innerWidth < 400)? 6 : 10,
				offset: 79,
				transition: true,
				textOffset: 16,
			}
			d3.select('#survey').select('svg').remove();
			var svg = d3.select('#survey')
				.append('svg').attr({
					'width': (window.innerWidth < 400)? window.innerWidth - 32 : 400,
					'height': survey.length * bar.tall - (bar.tall-bar.height)
				});
			var rect = svg.append('g').attr({'id': 'rect'}),
				num = svg.append('g').attr({'id': 'num'}),
				label = svg.append('g').attr({'id': 'num'});
			rect.selectAll('rect')
				.data(survey).enter()
				.append('rect').attr({
					'width':1,
					'height': bar.height,
					'fill': '#33CC99',
					'x':bar.offset,
					'y':function(d){
						return (d.x-1)*bar.tall;
					}
				});
			num.selectAll('text')
				.data(survey).enter()
				.append('text').attr({
					'fill':'#373b39',
					'x':function(d){
						return 0*bar.scale + bar.offset + 10;
					},
					'y':function(d){
						return (d.x-1) * bar.tall + bar.textOffset;
					}
				})
				.text(function(d){return '0%'});
			label.selectAll('text')
				.data(survey).enter()
				.append('text').attr({
					'fill':'#373b39',
					'text-anchor': 'end',
					'x':bar.offset - 15,
					'y':function(d){
						return (d.x-1) * bar.tall + bar.textOffset;
					}
				})
				.text(function(d){
					return d.label;
				});
			return {
				elem: svg,
				animate: function(){
					rect.selectAll('rect')
						.transition().duration(1500).attr({
							'width':function(d){
								return d.counts * bar.scale;
							}
						});
					num.selectAll('text')
						.transition().duration(1500).attr({
							'x':function(d){
								return d.counts*bar.scale + bar.offset + 10;
							}
						})
						.tween('number',function(d){
							//- console.log(d);
							var i = d3.interpolateRound(0, d.counts);
							return function(t) {
								this.textContent = Math.floor(100*i(t)/34)+"%";
							};
						});
				}
			}
		}
		$(window).scroll(function(){
			$scrollTop = $(this).scrollTop();
			if(bars.transition && $scrollTop>$('#survey').offset().top - 150){
				bars.transition = false;
				bars.chart.animate();
			}
		});
		$(window).resize(function(){
			if(windowWidth==$(window).width())
				return;
			windowWidth = $(window).width();
			bars = {
				transition: true,
				chart: drawBar(),
			}
		});
